@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500&family=Rampart+One&display=swap');
:root {
	--hue: 240;
	--accent-color: hsl(var(--hue), 25%, 50%);
	--body-color: hsl(var(--hue), 0%, 100%);
	--body-color-alt: hsl(var(--hue), 25%, 98%);
	--text-color: hsl(var(--hue), 5%, 25%);
	--font-size-xl: 3.5rem;
	--font-size-title: 2.4rem;
	--font-size-normal: 1.15rem;
	--font-size-small: 1rem;
	--radius: 3px;
	--transition: .4s ease-in-out;
}
@media screen and (prefers-color-scheme: dark) {
	body {
		--body-color: hsl(var(--hue), 0%, 10%);
		--body-color-alt: hsl(var(--hue), 2%, 9%);
		--text-color: hsl(var(--hue), 5%, 85%);
	}
}
@media screen and (min-width: 600px) {
	:root {
		--font-size-xl: 5rem;
		--font-size-title: 4rem;
		--font-size-normal: 1.25rem;
	}
}
html,
body {
	max-width: 100%;
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	color: var(--text-color);
	text-decoration: none;
}
a:hover {
	color: var(--accent-color);
	transition: var(--transition);
}
.flex {
	display: flex;
}
.purple {
	color: var(--accent-color);
	font-family: 'Rampart One', cursive;
}
body {
	font-family: 'Fira Sans', sans-serif;
	font-size: var(--font-size-normal);
	font-weight: 300;
	background-color: var(--body-color);
	color: var(--text-color);
}
section {
	min-height: 100vh;
	display: grid;
	place-content: center;
	place-items: center;
	padding: 4rem;
	animation: slidein .5s forwards;
}
@keyframes slidein {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
section:nth-of-type(even) {
	background-color: var(--body-color-alt);
}
.title {
	font-family: 'Rampart One', cursive;
	font-size: var(--font-size-title);
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--accent-color);
	transform: translateY(-100%);
	animation: slidein .5s forwards;
	animation-delay: .3s;
}
.logo {
	width: 100%;
	height: 100%;
	max-width: 350px;
}
/* NAVBAR  */
.navbar {
	text-transform: uppercase;
	background-color: var(--body-color);
}
.navbar-toggler {
	color: var(--text-color);
	border: none;
	font-size: 1.5rem;
}
.navbar.navbar-custom .navbar-brand {
	color: white;
	background-color: var(--accent-color);
	padding: 0 3px;
	border-radius: var(--radius);
	font-weight: 300;
}
.navbar.navbar-custom .navbar-brand:hover {
	color: white;
}
.navbar.navbar-custom a {
	color: var(--text-color);
}
.navbar.navbar-custom a:hover {
	color: var(--accent-color);
}
/* HEADER */
.header,
.contact-container {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	row-gap: 3.5rem;
	max-width: 1200px;
	margin: 3rem auto 0;
}
.header-text {
	margin-bottom: 2rem;
}
.header h1 {
	font-size: var(--font-size-xl);
}
.header .sub-title {
	font-size: 1.8rem;
}
.header-text {
	transform: translateY(-100%);
	animation: slidein .5s forwards;
	animation-delay: .3s;
}
.btn-container {
	display: flex;
	align-self: flex-start;
}
.header-btn {
	border-radius: 30px;
	color: inherit;
	font-weight: 600;
	position: relative;
	border: 1px solid var(--accent-color);
	display: flex;
	align-self: flex-start;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.header-btn .btn-text {
	padding: 0 2rem;
}
.header-btn .btn-icon {
	background-color: var(--accent-color);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 1rem;
}
.header-btn::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: all .4s ease-out;
	z-index: -1;
}
.header-btn:hover {
	transition: all .4s ease-out;
	color: white;
}
.header-btn:hover::before {
	width: 100%;
	height: 100%;
	background-color: var(--accent-color);
	transform: translateX(0);
	transition: all .4s ease-out;
}
/* SKILLS */
.skills .title {
	margin-bottom: 2rem;
}
.skill {
	margin: 2rem 0;
}
.skill-icon {
	margin: .3rem 0 0 .25rem;
	font-size: 1.1rem;
}
/* PROJECTS */
.projects .title {
	margin-bottom: 4rem;
}
.projects-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4rem;
}
.project {
	max-width: 600px;
}
.project-languages {
	display: flex;
	flex-wrap: wrap;
}
.circle {
	font-size: .5rem;
	color: var(--accent-color);
	margin: 0 .1rem;
}
.project-description {
	font-size: var(--font-size-small);
}
.project-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.project-links a {
	margin-right: 1.2rem;
}
.project-icon {
	margin-right: .25rem;
	color: var(--accent-color);
}
/* CONTACT */
.contact .title {
	margin-bottom: 2rem;
}
.contact-list {
	display: flex;
	flex-direction: column;
}
.contact-list a {
	margin: .5rem 0;
}
.contact-icon {
	margin-right: .7rem;
	color: var(--accent-color);
}
@media screen and (min-width: 900px) {
	.header,
	.contact-container {
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
	}
	.logo {
		max-width: 600px;
	}
}
